<div class = "movie">
<%= @movie.title %>
<%= @movie.creation_year %>
<%= @movie.genre %>
</div>
<div class ="actors">
  <% @movie.actors.age_sort.each do |actor| %>
    <%= actor.name %>
  <% end %>
</div>
<div class ="actor-age">
  <p>Average age: <%= @movie.actors.average_age %></p>
</div>
