<div class = "movie">
<%= @movie.title %>
<%= @movie.creation_year %>
<%= @movie.genre %>
</div>
<div class ="actors">
  <% @movie.actors.age_sort.each do |actor| %>
    <%= actor.name %>
  <% end %>
</div>
<div class ="actor-age">
  <p>Average age: <%= @movie.actors.average_age %></p>
</div>


<div class ="add-pet" >
  <h3>Add a Actor to this Movie</h3>
  <%= form_with url: "/actors/#{@movie.id}", method: :post, local: true, class: "add-actor" do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= f.submit "Add This Actor" %>
  <% end %>

</div>
